@charset "utf-8";

/*--------------------------------------------
サイトの基本設定
--------------------------------------------*/
:root {
  --secstion02-bg: polygon(0 200px, 0 100px, 0 90%, 0 80%);
}
html {
/*   scroll-behavior: smooth;
 */}

body {
  --color_main: #b40600;
  --font_Shippori_Mincho: "Shippori Mincho B1", serif;
  font-family: yu-gothic-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;  font-weight: 500;
  color: #000000;
  position: relative;
  p {
    line-height: 21px;
  }
}
/* タブレット以下の文字サイズ */
@media (max-width: 1099px) {
  body {
    font-size: 14px;
  }
}
main{
  overflow: hidden;
}
/* リンクの下線を無しにする */
a {
  text-decoration: none;
}

a img:hover {
  opacity: 0.8;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
}

/* コンテナ・インナー　*/
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.inner {
  padding: 0 70px;
}
@media (max-width: 1099px) {
  .container {
    padding: 0 50px;
  }
  .inner {
    padding: 0;
  }
}
@media (max-width: 720px) {
  .container {
    padding: 0 20px;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 1100px) {
  .pc-only {
    display: none;
  }
}
@media (max-width: 1099px) {
  .sp-only {
    display: block;
  }
}

/* flex */
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-jc-between {
  display: flex;
  justify-content: space-between;
}
.flex-jc-cecter {
  display: flex;
  justify-content: center;
}

/* glid */

/* text-align */
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
/* margin 寄せ */
.block-right {
  margin-left: auto;
}
.block-left {
  margin-right: auto;
}

/* 色文字 */
.color-red {
  color: #b40600;
}
/*--------------------------------------------
基本パーツ
--------------------------------------------*/
h2 {
  font-size: clamp(24px, 3vw, 42px);
  color: #4f5d6e;
  display: block;
  line-height: normal;
  &::after {
    content: "";
    display: block;
    width: clamp(20px, 3vw, 40px);
    border-bottom: solid 2px var(--color_main);
    padding-top: clamp(4px, 1vw, 10px);
  }
}
h3 {
  font-size: ;
  color: ;
  font-family: ;
}
h3::after {
}
@media (max-width: 1200px) {
  h2 {
  }
  h3 {
    font-size: ;
  }
}

/* ボタン */
.button-width_base01 {
  width: 180px;
}

.button01 {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: var(--color_main);
  border-bottom: dashed 1px var(--color_main);
  font-weight: bold;
}
.button01::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/arrow-forward.svg);
  background-size: cover;
}
.button01:hover::after {
  background-image: url(../img/arrow-forward-hover.svg);
}
@media (max-width: 1099px) {
  .button-width_base01 {
    width: 160px;
  }
  .button01 {
    height: 58px;
  }
  .button01::after {
    width: 50px;
    height: 50px;
  }
}
.button02 {
  display: block;
  width: 240px;
  height: 60px;
  background-color: #b50000;
  border: none;
  margin: 60px auto;
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-left: 40px;
  cursor: pointer;
  div {
    text-align: left;
  }
}
.button02[disabled] {
  background-color: #ccc;
  cursor: not-allowed; /* クリック不可のカーソルを表示 */
}
.button02::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/test.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button02:hover {
  opacity: 0.8;
}
.button02[disabled]:hover {
  opacity: 1;
}
@media (max-width: 1099px) {
  .button02 {
    margin: 30px auto;
  }
}

/*--------------------------------------------
ヘッダー
--------------------------------------------*/
header {
  height: 60px;
  width: 100%;
  color: white;
  font-weight: 500;
  position: fixed;
  z-index: 100;
  top: 0;
  transition: 0.1s ease-out;
  .home_link {
    display: flex;
    align-items: center;
    padding-left: 1em;
  }
  .logo {
    width: 280px;
  }
  .logo_gold {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    height: 100%;
    margin: 0;
  }
  nav ul li {
    color: white;
    height: 100%;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    display: flex;
  }
  nav ul li a {
    color: white;
  }
  nav ul li span {
    display: none;
  }
  nav div ul li:first-child {
    padding-left: 0;
  }
  nav div ul li:last-child {
    padding-right: 0;
  }
  .contact-link {
    background-color: #b50000;
    justify-content: center;
    width: 160px;
    a {
      color: #ffffff;
    }
  }
}
/* スクロールしたら適応 */
header.scroll-nav {
  background-color: white;
  box-shadow: 0px 0px 4px 0px #0000001c;
  nav ul li a {
    color: black;
  }
  .contact-link {
    a {
      color: #ffffff;
    }
  }

  .logo {
    display: none;
  }
  .logo_gold {
    display: block;
    width: 280px;
  }
}
/* ハンバーガーメニューボタンPCの時非表示 */
.openbtn {
  display: none;
}
/*--------------------------------------------
展開ナビゲーション
--------------------------------------------*/
@media (max-width: 1099px) {
  header {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    .logo {
      width: 215px;
    }
    nav ul li {
      padding: 0;
    }

    /* ハンバーガーメニューボタン　ここから */
    .openbtn {
      position: fixed;
      z-index: 9999;
      top: 0px;
      right: 0px;
      cursor: pointer;
      width: 60px;
      height: 60px;
      display: block;
      background-color: #b50000;
    }
    .openbtn span {
      display: inline-block;
      transition: all 0.4s; /*アニメーションの設定*/
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      height: 1px;
      border-radius: 5px;
      background: white;
      width: 38px;
    }
    .openbtn span:nth-of-type(1) {
      top: 18px;
    }

    .openbtn span:nth-of-type(2) {
      top: 30px;
    }
    .openbtn span:nth-of-type(3) {
      top: 42px;
    }
    .openbtn.active span:nth-of-type(1) {
      top: 22px;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(6px) rotate(-45deg);
      width: 30px;
    }
    .openbtn.active span:nth-of-type(2) {
      opacity: 0;
    }
    .openbtn.active span:nth-of-type(3) {
      top: 22px;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(6px) rotate(45deg);
      width: 30px;
    }
    /* ハンバーガーメニューボタン　ここまで */

    /* スマホメニュー */
    #g-nav {
      height: calc(var(--vh, 1vh) * 100);
      position: fixed;
      opacity: 0; /* 最初は非表示　クリックでactiveクラスをつける */
      visibility: hidden;
      z-index: -100;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(130deg, #b50000, #7c1c00);
      transition: 0.2s ease-out;
      overflow-y: scroll;
      padding: 30px 0;
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: flex;
      align-items: center;
    }
    #g-nav::-webkit-scrollbar {
      display: none;
    }
    #g-nav a {
      color: #ffffff;
    }
    nav ul {
      display: block;
      font-size: 18px;
      height: auto;
      width: 100%;
      text-align: center;
    }
    nav ul li {
      font-size: 18px;
      font-weight: bold;
      display: block;
      margin-top: 20px;
    }
    nav ul li span {
      /* スマホのみ英語出現 */
      display: block;
      font-size: 12px;
      padding-bottom: 20px;
      color: #c7c388;
    }
    nav ul li span::before {
      content: "";
      padding-top: 3px;
      display: block;
      width: 20px;
      border-top: solid 1px #c7c388;
      margin: 3px auto 0;
    }
    nav > ul > li:not(:last-child)::after {
      content: "";
      display: block;
      margin: auto;
      width: 23px;
      height: 23px;
      border-top: solid 1px #c7c388;
      transform: translate(10px, 5px) rotate(310deg);
    }
    .contact-link {
      width: 100%;
      background-color: initial;
    }
  }
  .active #g-nav {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
  }
}
/*--------------------------------------------
フッター
--------------------------------------------*/
footer {
  background-color: #4f5d6e;
  color: #ffffff;
  font-weight: normal;
  height: 540px;
  padding: 0 60px;
  .f-container {
    max-width: 1500px;
    margin: auto;
  }

  .firebonds-area {
    text-align: center;
    padding-top: 60px;
  }
  .firebonds-bnr {
    width: 460px;
  }
  .f-about-area {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    .logo_gold {
      width: 410px;
    }
  }
  .f-left {
    .f-logo_gold {
      max-width: 410px;
    }
    address {
      margin-top: 40px;
      font-style: normal;
    }
    p {
      margin: 0;
    }
    small {
      display: block;
      margin-top: 75px;
      color: #a3a397;
      font-size: 12px;
      text-align: left;
    }
  }
  .f-right {
    ul {
      display: flex;
      gap: 50px;
      font-weight: 500;
      border-bottom: solid 1px white;
      padding: 18px 0;
    }
  }
}
small {
  width: 100%;
  max-width: 1320px;
  text-align: right;
  font-size: 14px;
  margin: auto;
  padding: 0.5em 0;
}
@media (max-width: 1099px) {
  footer {
    height: 330px;
    padding: 0 30px;
    footer .container {
    }
    .firebonds-area {
      padding-top: 20px;
    }
    .firebonds-bnr {
      width: 224px;
    }
    .f-about-area {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      .logo_gold {
        width: 410px;
      }
    }
    .f-left {
      width: 300px;
      .f-logo {
        max-width: 100%;
      }
      address {
        margin-top: 14px;
        font-style: normal;
      }
      p {
        margin: 0;
      }
      small {
        display: block;
        margin-top: 30px;
        color: #a3a397;
        font-size: 10px;
        text-align: left;
      }
    }
    .f-right {
      display: none;
    }
  }
}
